body {
  margin: 0;
  background-color: #2d4052;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.tilt-in-fwd-tr {
  -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation tilt-out-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-out-fwd-tr {
  0% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
}
@keyframes tilt-out-fwd-tr {
  0% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
}

.tilt-out-fwd-tr {
  -webkit-animation: tilt-out-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-out-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
