body {
  margin: 0;
  background-color: #2d4052;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scene {
  perspective: 400px;
  transition: top 0.3s ease, right 0.3s ease;
}

.player {
  transition: top 0.3s ease, right 0.3s ease;
}

.table-card {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.table-card-enter-done .table-card.is-flipped {
  transform: rotateY(180deg);
}

.table-card__face {
  position: absolute;
  backface-visibility: hidden;
}

.table-card__face--back {
  transform: rotateY(180deg);
}

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.table-card-enter-active {
  -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation tilt-out-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-out-fwd-tr {
  0% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
}
@keyframes tilt-out-fwd-tr {
  0% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
}

.table-card-exit-active {
  -webkit-animation: tilt-out-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-out-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.next-round-enter {
  opacity: 0;
}

.next-round-enter-done {
  -webkit-animation: bounce-in-fwd 600ms both;
  animation: bounce-in-fwd 600ms both;
}

/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.next-round-exit-active {
  -webkit-animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-left 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
